body {
  background-color: $light-gray;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4rem);
}

main {
  max-width: 600px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "top"
    "bLeft"
    "bRight";
}
.first {
  grid-area: top;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.second {
  grid-area: bLeft;
}
.third {
  grid-area: bRight;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "top top"
      "bLeft bRight";
  }
  .second {
    grid-area: bLeft;
    border-bottom-left-radius: 0.5rem;
  }
  .third {
    grid-area: bRight;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5rem;
  }
}
