.second {
  background-color: $cyan;
  font-family: $font-spartan;
  padding: 2rem 1rem;
  h2 {
    color: white;
    font-size: $font-size;
    margin-bottom: 1rem;
  }
  p {
    color: $light-gray;
    font-size: $font-size;
    padding-bottom: 0.5rem;
    strong {
      font-size: $font-size * 2;
      color: white;
    }
    &:nth-child(3) {
      color: white;
      padding-bottom: 2rem;
    }
  }
  button {
    background-color: $bright-yellow;
    color: white;
    width: 100%;
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
