.third {
  background-color: $cyan;
  opacity: 85%;
  font-family: $font-spartan;
  padding: 2rem 1rem;
  h2 {
    color: white;
    font-size: $font-size;
    margin-bottom: 1rem;
  }
  p {
    color: $light-gray;
    font-size: $font-size;
    padding-bottom: 0.5rem;
    white-space: pre-line;
  }
}
