.first {
  background-color: white;
  font-family: $font-spartan;
  padding: 2rem 1rem;
  h1 {
    color: $cyan;
    margin-bottom: 1rem;
  }
  h2 {
    color: $bright-yellow;
    font-size: $font-size;
    margin-bottom: 1rem;
  }
  p {
    color: $grayish-blue;
    font-size: $font-size;
    margin-bottom: 1rem;
  }
}
