$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);

$grayish-blue: hsl(218, 22%, 67%);
$light-gray: hsl(204, 43%, 93%);

$font-size: 16px;
$font-spartan: "Karla", sans-serif;
$font-400: 400;
$font-700: 700;
